<!-- Footer -->
<footer class="bg-white small text-center text-black-50 py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="mb-2">
          © {{ site.time | date: "%Y" }} Vision Lab, Shenzhen University of Advanced Technology
        </p>
        <p class="mb-0">
          <a href="https://csce.suat-sz.edu.cn/">School of Computer Science and Control Engineering, Shenzhen University of Advanced Technology</a>
        </p>
      </div>
    </div>
  </div>
</footer>
